<%= form_with model: [ article, article.comments.build ], class: "comment-form" do |form| %>
  <div>
    <%= form.label :body %>
  </div>

  <div>
    <%= form.text_area :body, cols: "60", rows: "10" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
