<div id="articles">
  <%= render partial: "article", collection: @articles %>
</div>

<ul id="footer-nav">
  <li><%= link_to "New Article", new_article_path %></li>
  <li><%= link_to "New Tag", new_tag_path %></li>
</ul>
