<h1 class="tag-heading"><%= @tag.name %></h1>

<div id="articles">
  <%= render partial: "articles/article", collection: @tag.articles %>
</div>

<ul id="fixed--nav">
  <li><%= link_to "Back", root_path %></li>
  <li><%= link_to "Destroy", @tag, data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</ul>
