<header class="header">
  <div class="main-nav">
    <%= link_to "Blog", root_path, class: "header-heading" %>
    <nav>
      <ul class="header-nav">
        <%= link_to "Home", root_path %>
        <%= link_to "Tags", tags_path %>
      </ul>
    </nav>
  </div>
</header>
