<header class="header">
  <div class="main-nav">
    <h1 class="header-heading">Blog</h1>
    <nav>
      <ul class="header-nav">
        <%= link_to "Home", "/" %>
        <%= link_to "Users", "/" %>
      </ul>
    </nav>
  </div>

  <div class="login-nav">
    Login
  </div>
</header>