<header class="header">
  <div>
    <h1 class="header-heading">Blog</h1>
    <nav class="header-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">New Article</a></li>
      </ul>
    </nav>
  </div>
</header>