<header class="header">
  <div class="main-nav">
    <h1 class="header-heading">Blog</h1>
    <nav>
      <ul class="header-nav">
        <%= link_to "Home", root_path %>
        <%= link_to "Tags", tags_path %>
      </ul>
    </nav>
  </div>
</header>